<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="shortcut icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ "/img/apple_icons_57x57.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/img/apple_icons_72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/img/apple_icons_114x114.png" | prepend: site.baseurl }}">

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ "/css/theme.css" | prepend: site.baseurl }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ "/css/responsive.css" | prepend: site.baseurl }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}" type="text/css" media="all" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
</head>
