<header class="main_header">
    <div class="header_wrapper">
        <div class="logo_sect">
            <div>
                <a href="/">{{ site.title }}</a>
            </div>
        </div>
        <div class="header_rp">
            <nav>
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menu">
                        {% for menu in site.data.menu %}
                        <li><a href="{{ menu.path }}"><span>{{ menu.name }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="clear"></div>
    </div>
</header>
