---
layout: defaultwithfooter
---
<div class="main_wrapper">
    <div class="content_wrapper">
        <div class="container">
            <div class="content_block row no-sidebar">
                <div class="fl-container ">
                    <div class="row">
                        <div class="posts-block ">
                            <div class="contentarea">
                                <div class="row">
                                    <div class="span12 first-module module_number_1 module_cont pb0 module_portfolio">
                                        

                                        <div class="portfolio_block image-grid columns1 portf_columns">
                                            <div class="stuff portrait element row portfolio_item">
                                                <div class="portfolio_item_img gallery_item_wrapper span6">
                                                    <img src="{{ page.img1 }}" alt="">
                                                </div>
                                                <div class="portfolio_dscr span6">
                                                    <div class="portfolio_dscr_top">
                                                        <h3><a href="{{ page.link1 }}">{{ page.title1 }}</a></h3>
                                                    </div>
                                                    {{ page.post1 }}
                                                    <br />
                                                    <a class="shortcode_button btn_small btn_type5 reamdore" href="{{ page.link1 }}">Read more!</a>
                                                </div>
                                            </div>

                                            <div class="stuff portrait element row portfolio_item">
                                                <div class="portfolio_item_img gallery_item_wrapper span6">
                                                    <img src="{{ page.img2 }}" alt="">
                                                </div>
                                                <div class="portfolio_dscr span6">
                                                    <div class="portfolio_dscr_top">
                                                        <h3><a href="{{ page.link2 }}">{{ page.title2 }}</a></h3>
                                                    </div>
                                                    {{ page.post2 }}
                                                    <br />
                                                    <a class="shortcode_button btn_small btn_type5 reamdore" href="{{ page.link2 }}">Read more!</a>
                                                </div>
                                            </div>

                                            <div class="stuff portrait element row portfolio_item">
                                                <div class="portfolio_item_img gallery_item_wrapper span6">
                                                    <img src="{{ page.img3 }}" alt="">
                                                </div>
                                                <div class="portfolio_dscr span6">
                                                    <div class="portfolio_dscr_top">
                                                        <h3><a href="{{ page.link3 }}">{{ page.title3 }}</a></h3>
                                                    </div>
                                                    {{ page.post3 }}
                                                    <br />
                                                    <a class="shortcode_button btn_small btn_type5 reamdore" href="{{ page.link3 }}">Read more!</a>
                                                </div>
                                            </div>
                                            
                                                     <div class="stuff portrait element row portfolio_item">
                                                <div class="portfolio_item_img gallery_item_wrapper span6">
                                                    <img src="{{ page.img4 }}" alt="">
                                                </div>
                                                <div class="portfolio_dscr span6">
                                                    <div class="portfolio_dscr_top">
                                                        <h3><a href="{{ page.link4 }}">{{ page.title4 }}</a></h3>
                                                    </div>
                                                    {{ page.post4 }}
                                                    <br />
                                                    <a class="shortcode_button btn_small btn_type5 reamdore" href="{{ page.link4 }}">Read more!</a>
                                                </div>
                                            </div>
                                                    <div class="stuff portrait element row portfolio_item">
                                                <div class="portfolio_item_img gallery_item_wrapper span6">
                                                    <img src="{{ page.img5 }}" alt="">
                                                </div>
                                                <div class="portfolio_dscr span6">
                                                    <div class="portfolio_dscr_top">
                                                        <h3><a href="{{ page.link5 }}">{{ page.title5 }}</a></h3>
                                                    </div>
                                                    {{ page.post5 }}
                                                    <br />
                                                    <a class="shortcode_button btn_small btn_type5 reamdore" href="{{ page.link5 }}">Read more!</a>
                                                </div>
                                            </div>
                                  
                                                 <!--    <div class="stuff portrait element row portfolio_item">
                                                <div class="portfolio_item_img gallery_item_wrapper span6">
                                                    <img src="{{ page.img6 }}" alt="">
                                                </div>
                                                <div class="portfolio_dscr span6">
                                                    <div class="portfolio_dscr_top">
                                                        <h3><a href="{{ page.link6 }}">{{ page.title6 }}</a></h3>
                                                    </div>
                                                    {{ page.post6 }}
                                                    <br />
                                                    <a class="shortcode_button btn_small btn_type5 reamdore" href="{{ page.link6 }}">See Gallery</a>
                                                </div>
                                            <div class="clear"></div>
                                        </div> -->

                                    </div><!-- .module_cont -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- .main_wrapper -->

<div class="content_bg"></div>
<script type="text/javascript" src="{{ "/js/jquery-ui.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/modules.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/sorting.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($){
        "use strict";
        jQuery('.portfolio_title').each(function(){
            jQuery(this).css('margin-top', -1*jQuery(this).height()/2+'px');
        });

        if (jQuery('.pagerblock').size() > 0) {
            jQuery('.pagerblock').addClass('type_columns1');
        }
    });
</script>
