---
layout: default
---
<div class="fw_content_wrapper">
    <div class="fw_content_padding">
        <div class="content_wrapper noTitle">
            <div class="container">
                <div class="content_block row no-sidebar">
                    <div class="fl-container ">
                        <div class="row">
                            <div class="posts-block ">
                                <div class="contentarea">
                                    <div class="row">
                                        <div class="span8 first-module module_number_1 module_cont pb0 module_html">
                                            <div class="module_content contact_form">
                                                <div id="note"></div>
                                                <div id="fields">
                                                    <div id="wufoo-zfjf1pj1e2c2aq">
Fill out my <a href="https://candidgiggles.wufoo.com/forms/zfjf1pj1e2c2aq">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
<script type="text/javascript">var zfjf1pj1e2c2aq;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'candidgiggles',
'formHash':'zfjf1pj1e2c2aq',
'autoResize':true,
'height':'1127',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zfjf1pj1e2c2aq = new WufooForm();zfjf1pj1e2c2aq.initialize(options);zfjf1pj1e2c2aq.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

                                                </div>
                                            </div>
                                        </div><!-- .module_cont -->
                                        <div class="span4 module_number_2 module_cont no_bg pb0 module_contact_info">
                                            <div class="bg_title"><h4 class="headInModule">Contact Information</h4></div>
                                            <ul class="contact_info_list contact_icons">
                                                <li class="contact_info_item">
                                                    <div class="contact_info_wrapper">
                                                        <span class="contact_info_icon"><i class="icon-home"></i></span>
                                                        <div class="contact_info_text">{{ page.address }}</div>
                                                    </div>
                                                </li>
                                                <li class="contact_info_item">
                                                    <div class="contact_info_wrapper">
                                                        <span class="contact_info_icon"><i class="icon-phone"></i></span>
                                                        <div class="contact_info_text">{{ site.phone }}</div>
                                                    </div>
                                                </li>
                                                <li class="contact_info_item">
                                                    <div class="contact_info_wrapper">
                                                        <span class="contact_info_icon"><i class="icon-envelope"></i></span>
                                                        <div class="contact_info_text"><a href="mailto:{{ site.email }} ">{{ page.email }}</a></div>
                                                    </div>
                                                </li>
                                                <li class="contact_info_item">
                                                    <div class="contact_info_wrapper">
                                                        <span class="contact_info_icon"><i class="icon-facebook-square"></i></span>
                                                        <div class="contact_info_text"><a href="{{ site.facebook }}" target="_blank">Facebook</a></div>
                                                    </div>
                                                </li>
                                                <li class="contact_info_item">
                                                    <div class="contact_info_wrapper">
                                                        <span class="contact_info_icon"><i class="icon-instagram"></i></span>
                                                        <div class="contact_info_text"><a href="{{ site.instagram }}" target="_blank">Instagram</a></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><!-- .module_cont -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed_bg map_bg"></div>

<div class="content_bg"></div>
<script type="text/javascript" src="{{ "/js/jquery-ui.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/modules.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/wufoo.js" | prepend: site.baseurl }}"></script>
<script>
    jQuery(document).ready(function(){
        "use strict";
        centerWindow();
        if (window_w > 760) {
            jQuery('html').addClass('without_border');
        }
    });
    jQuery(window).load(function(){
        "use strict";
        centerWindow();
    });
    jQuery(window).resize(function(){
        "use strict";
        centerWindow();
        setTimeout('centerWindow()',500);
        setTimeout('centerWindow()',1000);
    });
    function centerWindow() {
        "use strict";
        var setTop = (window_h - jQuery('.fw_content_wrapper').height() - header.height())/2+header.height();
        if (setTop < header.height()+50) {
            jQuery('.fw_content_wrapper').addClass('fixed');
            jQuery('body').addClass('addPadding');
            jQuery('.fw_content_wrapper').css('top', header.height()+50+'px');
        } else {
            jQuery('.fw_content_wrapper').css('top', setTop +'px');
            jQuery('.fw_content_wrapper').removeClass('fixed');
            jQuery('body').removeClass('addPadding');
        }
    }
</script>
