---
layout: default
---
<div class="fw_content_wrapper">
    <div class="fw_content_padding">
        <div class="content_wrapper noTitle">
            <div class="container">
                <div class="content_block row no-sidebar">
                    <div class="fl-container ">
                        <div class="row">
                            <div class="posts-block ">
                                <div class="contentarea">
                                    <div class="row">
                                        <div class="span8 first-module module_number_1 module_cont pb0 module_html">
                                            <div class="module_content contact_form">
                                                <div id="note"></div>
                                                <div id="fields">
                                                    <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
                                                          action="https://candidgiggles.wufoo.com/forms/zfjf1pj1e2c2aq/#public">

                                                        <header id="header" class="info">
                                                            <h2>Client Inquiry</h2>
                                                            <div>Please fill out this form to let me know the specifics of your desired session!</div>
                                                        </header>

                                                        <ul>

                                                            <li id="foli1" class="notranslate      ">
                                                                <label class="desc" id="title1" for="Field1">
                                                                    Name
                                                                </label>
                                                                <div class="w50 pr7">
                                                                    <input placeholder="First" id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1"       />
                                                                </div>
                                                                <div class="w50">
                                                                    <input placeholder="Last" id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" />
                                                                </div>
                                                            </li>
                                                            <li id="foli106" class="complex notranslate      ">
                                                                <label class="desc" id="title106" for="Field106">
                                                                    Address
                                                                    <span id="req_106" class="req">*</span>
                                                                </label>
                                                                <div>
                                                                    <span class="full addr1">
                                                                    <input id="Field106" placeholder="Address 1" name="Field106" type="text" class="field text addr" value="" tabindex="3" required       />
                                                                    </span>
                                                                    <span class="full addr2">
                                                                    <input id="Field107" placeholder="Address 2 (optional)" name="Field107" type="text" class="field text addr" value="" tabindex="4" />
                                                                    </span>

                                                                    <div class="w50 pr7">
                                                                        <input id="Field108" placeholder="City" name="Field108" type="text" class="field text addr" value="" tabindex="5" required />
                                                                    </div>
                                                                    <div class="w50">
                                                                        <input id="Field109" placeholder="State" name="Field109" type="text" class="field text addr" value="" tabindex="6" required />
                                                                    </div>
                                                                    <div class="clear">
                                                                    <input id="Field110" placeholder="Zip Code" name="Field110" type="text" class="field text addr" value="" maxlength="15" tabindex="7" required />
                                                                    </div>

                                                                    <span class="right country">
                                                                    <select id="Field111" name="Field111" class="field select addr" tabindex="8" >
                                                                        <option value="United States" selected="selected">United States</option>
                                                                    </select>
                                                                    </span>
                                                                </div>
                                                            </li>
                                                            <li id="foli3" class="notranslate      ">
                                                                <label class="desc" id="title3" for="Field3">
                                                                    Email
                                                                    <span id="req_3" class="req">*</span>
                                                                </label>
                                                                <div>
                                                                    <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="9"       required />
                                                                </div>
                                                            </li>
                                                            <li id="foli4" class="phone notranslate      ">
                                                                <label class="desc" id="title4" for="Field4">
                                                                    Phone Number
                                                                </label>
                                                                <span class="left">
                                                                <input id="Field4" name="Field4" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="10"       />
                                                                </span>
                                                                                                                                <span class="symbol">-</span>
                                                                <span>
                                                                <input id="Field4-1" name="Field4-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="11" />
                                                                </span>
                                                                                                                                <span class="symbol">-</span>
                                                                <span>
                                                                 <input id="Field4-2" name="Field4-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="12" />
                                                                </span>
                                                            </li>
                                                            <li id="foli5" class="notranslate      ">
                                                                <fieldset>
                                                                    <![if !IE | (gte IE 8)]>
                                                                    <legend id="title5" class="desc">
                                                                        Type of Session
                                                                        <span id="req_5" class="req">*</span>
                                                                    </legend>
                                                                    <![endif]>
                                                                    <!--[if lt IE 8]>
                                                                    <label id="title5" class="desc">
                                                                        Type of Session
                                                                        <span id="req_5" class="req">*</span>
                                                                    </label>
                                                                    <![endif]-->
                                                                    <div>
<span>
<input id="Field5" name="Field5" type="checkbox" class="field checkbox" value="Family Session" tabindex="13"     />
<label class="choice" for="Field5">Family Session</label>
</span>
<span>
<input id="Field6" name="Field6" type="checkbox" class="field checkbox" value="Senior Session" tabindex="14"     />
<label class="choice" for="Field6">Senior Session</label>
</span>
<span>
<input id="Field7" name="Field7" type="checkbox" class="field checkbox" value="Event Session" tabindex="15"     />
<label class="choice" for="Field7">Event Session</label>
</span>
<span>
<input id="Field8" name="Field8" type="checkbox" class="field checkbox" value="Memory Book " tabindex="16"     />
<label class="choice" for="Field8">Memory Book </label>
</span>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                            <li id="foli112" class="notranslate       ">
                                                                <label class="desc" id="title112" for="Field112">
                                                                    Desired Session Month
                                                                    <span id="req_112" class="req">*</span>
                                                                </label>
                                                                <div>
                                                                    <select id="Field112" name="Field112" class="field select medium"       tabindex="17" >
                                                                        <option value="February 2015" >
                                                                            February 2015
                                                                        </option>
                                                                        <option value="March 2015" selected="selected">
                                                                            March 2015
                                                                        </option>
                                                                        <option value="April 2015" >
                                                                            April 2015
                                                                        </option>
                                                                        <option value="May 2015" >
                                                                            May 2015
                                                                        </option>
                                                                        <option value="June 2015" >
                                                                            June 2015
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <p class="instruct" id="instruct112"><small>I will not be available for any sessions in the Chicagoland area in July 2015</small></p>
                                                            </li>
                                                            <li id="foli114"
                                                                class="notranslate      "><label class="desc" id="title114" for="Field114">
                                                                Anticipated Number of People
                                                                <span id="req_114" class="req">*</span>
                                                            </label>

                                                                <div>
<textarea id="Field114"
          name="Field114"
          class="field textarea medium"
          spellcheck="true"
          rows="10" cols="50"

          tabindex="18"
          onkeyup=""
          required  ></textarea>

                                                                </div>

                                                                <p class="instruct" id="instruct114"><small>Please give ages of children</small></p></li>
                                                            <li id="foli116"
                                                                class="notranslate      "><label class="desc" id="title116" for="Field116">
                                                                What is your vision for the session?
                                                            </label>

                                                                <div>
<textarea id="Field116"
          name="Field116"
          class="field textarea medium"
          spellcheck="true"
          rows="10" cols="50"

          tabindex="19"
          onkeyup=""
        ></textarea>

                                                                </div>
                                                            </li>
                                                            <li id="foli115" class="notranslate      ">
                                                                <label class="desc" id="title115" for="Field115">
                                                                    How did you hear about Candid Giggles Photography?
                                                                </label>
                                                                <div>
                                                                    <input id="Field115" name="Field115" type="text" class="field text medium" value="" maxlength="255" tabindex="20" onkeyup=""       />
                                                                </div>
                                                            </li> <li class="buttons ">
                                                            <div>

                                                                <input id="saveForm" name="saveForm" class="btTxt submit"
                                                                       type="submit" value="Submit"
                                                                        /></div>
                                                        </li>

                                                            <li class="hide">
                                                                <label for="comment">Do Not Fill This Out</label>
                                                                <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                                                                <input type="hidden" id="idstamp" name="idstamp" value="JVjBawcVr01dJFWOnTtqnOuadz09h5/EXGKxq4fAowc=" />
                                                            </li>
                                                        </ul>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- .module_cont -->
                                        <div class="span4 module_number_2 module_cont no_bg pb0 module_contact_info">
                                            <div class="bg_title"><h4 class="headInModule">Contact Information</h4></div>
                                            <ul class="contact_info_list contact_icons">
                                                <li class="contact_info_item">
                                                    <div class="contact_info_wrapper">
                                                        <span class="contact_info_icon"><i class="icon-home"></i></span>
                                                        <div class="contact_info_text">{{ page.address }}</div>
                                                    </div>
                                                </li>
                                                <li class="contact_info_item">
                                                    <div class="contact_info_wrapper">
                                                        <span class="contact_info_icon"><i class="icon-phone"></i></span>
                                                        <div class="contact_info_text">{{ site.phone }}</div>
                                                    </div>
                                                </li>
                                                <li class="contact_info_item">
                                                    <div class="contact_info_wrapper">
                                                        <span class="contact_info_icon"><i class="icon-envelope"></i></span>
                                                        <div class="contact_info_text"><a href="mailto:{{ site.email }} ">{{ page.email }}</a></div>
                                                    </div>
                                                </li>
                                                <li class="contact_info_item">
                                                    <div class="contact_info_wrapper">
                                                        <span class="contact_info_icon"><i class="icon-facebook-square"></i></span>
                                                        <div class="contact_info_text"><a href="{{ site.facebook }}">Facebook</a></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><!-- .module_cont -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed_bg map_bg"></div>

<div class="content_bg"></div>
<script type="text/javascript" src="{{ "/js/jquery-ui.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/modules.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/wufoo.js" | prepend: site.baseurl }}"></script>
<script>
    jQuery(document).ready(function(){
        "use strict";
        centerWindow();
        if (window_w > 760) {
            jQuery('html').addClass('without_border');
        }
    });
    jQuery(window).load(function(){
        "use strict";
        centerWindow();
    });
    jQuery(window).resize(function(){
        "use strict";
        centerWindow();
        setTimeout('centerWindow()',500);
        setTimeout('centerWindow()',1000);
    });
    function centerWindow() {
        "use strict";
        var setTop = (window_h - jQuery('.fw_content_wrapper').height() - header.height())/2+header.height();
        if (setTop < header.height()+50) {
            jQuery('.fw_content_wrapper').addClass('fixed');
            jQuery('body').addClass('addPadding');
            jQuery('.fw_content_wrapper').css('top', header.height()+50+'px');
        } else {
            jQuery('.fw_content_wrapper').css('top', setTop +'px');
            jQuery('.fw_content_wrapper').removeClass('fixed');
            jQuery('body').removeClass('addPadding');
        }
    }
</script>
