---
layout: defaultwithfooter
---
<div class="fullscreen-gallery">
    <div class="fs_grid_gallery">
        <div class="ribbon_wrapper">
            <div id="ribbon_swipe"></div>
            <div class="ribbon_list_wrapper">
                <ul class="fw_gallery_list">
                    <li data-count="1" class="slide1"><img src="{{ page.slide1 }}" alt="{{ page.alt1 }}"/></li>
                    <li data-count="2" class="slide2"><img src="{{ page.slide2 }}" alt="{{ page.alt2 }}"/></li>
                    <li data-count="3" class="slide3"><img src="{{ page.slide3 }}" alt="{{ page.alt3 }}"/></li>
                    <li data-count="4" class="slide4"><img src="{{ page.slide4 }}" alt="{{ page.alt4 }}"/></li>
                    <li data-count="5" class="slide5"><img src="{{ page.slide5 }}" alt="{{ page.alt5 }}"/></li>
                </ul>
            </div>
        </div>
        <div class="slider_info fw_slider_info">
            <div class="slider_data">
                <a href="javascript:void(0)" class="ltl_prev"><i class="icon-angle-left"></i></a><span class="num_current">1</span> of <span class="num_all"></span><a href="javascript:void(0)" class="ltl_next"><i class="icon-angle-right"></i></a>
               
            </div>
            <div class="clear"></div>
            <div class="post_meta_data">
                <div class="listing_meta">
                   
                </div>
            </div>
        </div>
        <!-- .fullscreen_content_wrapper -->
    </div>
</div>

<div class="preloader"></div>

<div class="content_wrapper">
<div class="container simple-post-container fw-post-container">
<div class="content_block no-sidebar row">
<div class="fl-container">
<div class="row">
<div class="posts-block simple-post">
<div class="contentarea fw_contentarea">
<div class="row">
    <div class="span12 module_cont module_blog module_none_padding module_blog_page">
        <div class="blog_post_page fw_post_page">
            <div class="blog_post_content">
                <article class="contentarea">
                    <div class="row">
                        <div class="span12 first-module module_number_1 module_cont pb17 module_text_area">
                            <div class="module_content">
                                {{ content }}
                            </div>
                        </div><!-- .module_cont -->
                    </div>
                </article>
                <form
  id="form2"
  name="form2"
  class="wufoo topLabel page"
  accept-charset="UTF-8"
  autocomplete="off"
  enctype="multipart/form-data"
  method="post"
  novalidate
      action="https://candidgiggles.wufoo.com/forms/muomkar0d1oe23/#public"
  >

<header id="header" class="info">
<h2 class="centerFormProp">Senior Pre-Session Questionnaire</h2>
<div class="centerFormProp">I have included this questionnaire to get to know you a little before we meet for your session. It's all about being prepared prior to the session with a little bit of information about you, your personality and what you would like from the session, which is of course, all about you!</div>
</header><ul>
<li id="foli1" class="notranslate      ">
<label class="desc" id="title1">
Senior's Name
<span id="req_1" class="req">*</span>
</label>
<span>
<input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="0" placeholder=""       required />
<label for="Field1">First</label>
</span>
<span>
<input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="0" placeholder="" required />
<label for="Field2">Last</label>
</span>
</li>
<li id="foli3" class="notranslate      ">
<label class="desc" id="title3" for="Field3">
Email
<span id="req_3" class="req">*</span>
</label>
<div>
<input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="0"       placeholder="" required />
</div>
</li>
<li id="foli4" class="phone notranslate      ">
<label class="desc" id="title4">
Phone Number
<span id="req_4" class="req">*</span>
</label>
<span>
<input id="Field4" name="Field4"       type="tel" class="field text" value="" size="3" maxlength="3" tabindex="0"       onkeyup="autotab(this, document.getElementById('Field4-1'), this); filterNonnumeric(this);"             onfocus="this.selectionStart = this.selectionEnd = this.value.length;" placeholder=""       required />
<label for="Field4">###</label>
</span>
<span class="symbol">-</span>
<span>
<input id="Field4-1" name="Field4-1"       type="tel" class="field text" value="" size="3" maxlength="3" tabindex="0"       onkeyup="autotab(this, document.getElementById('Field4-2'), document.getElementById('Field4')); filterNonnumeric(this);"       onfocus="this.selectionStart = this.selectionEnd = this.value.length;" placeholder="" required />
<label for="Field4-1">###</label>
</span>
<span class="symbol">-</span>
<span>
 <input id="Field4-2" name="Field4-2"       type="tel" class="field text" value="" size="4" maxlength="4" tabindex="0"       onkeyup="autotab(this, this, document.getElementById('Field4-1')); filterNonnumeric(this);"             onfocus="this.selectionStart = this.selectionEnd = this.value.length;" placeholder="" required />
<label for="Field4-2">####</label>
</span>
</li>
<li id="foli13"
class="notranslate      "><label class="desc" id="title13" for="Field13">
Parent's Name, Email, and Phone Number
<span id="req_13" class="req">*</span>
</label>

<div>
<textarea id="Field13"
name="Field13"
class="field textarea medium"
spellcheck="true"
rows="10" cols="50"

tabindex="0"
onkeyup=""
placeholder=""
      required  ></textarea>

</div>
</li>
<li id="foli8" class="date notranslate      ">
<label class="desc" id="title8">
Desired Session Date
<span id="req_8" class="req">*</span>
</label>
<span>
<input id="Field8-1" name="Field8-1" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0" required       />
<label for="Field8-1">MM</label>
</span>
<span class="symbol">/</span>
<span>
<input id="Field8-2" name="Field8-2" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0" required />
<label for="Field8-2">DD</label>
</span>
<span class="symbol">/</span>
<span>
 <input id="Field8" name="Field8" type="text" class="field text" value="" size="4" maxlength="4" tabindex="0" required />
<label for="Field8">YYYY</label>
</span>
<span id="cal8">
<img
id="pick8" class="datepicker" src="https://static.wufoo.comimages/calendar.png" alt="Pick a date." data-date-format="yyyy-mm-dd" data-date="today" />
</span>
</li>
<li id="foli10"
class="notranslate      "><label class="desc" id="title10" for="Field10">
Please list your extracurricular activities, interests, hobbies and what you and your friends do for fun.
</label>

<div>
<textarea id="Field10"
name="Field10"
class="field textarea medium"
spellcheck="true"
rows="10" cols="50"

tabindex="0"
onkeyup=""
placeholder=""
       ></textarea>

</div>
</li>
<li id="foli11"
class="notranslate      "><label class="desc" id="title11" for="Field11">
What are your favorite colors and what is your style?
</label>

<div>
<textarea id="Field11"
name="Field11"
class="field textarea medium"
spellcheck="true"
rows="10" cols="50"

tabindex="0"
onkeyup=""
placeholder=""
       ></textarea>

</div>
</li>
<li id="foli12"
class="notranslate      "><label class="desc" id="title12" for="Field12">
One thing about yourself people would never know about you just by looking at you.
</label>

<div>
<textarea id="Field12"
name="Field12"
class="field textarea medium"
spellcheck="true"
rows="10" cols="50"

tabindex="0"
onkeyup=""
placeholder=""
       ></textarea>

</div>
</li>
<li id="foli14"
class="notranslate      "><label class="desc" id="title14" for="Field14">
Is there anything special you would like to do during your Senior Session?
</label>

<div>
<textarea id="Field14"
name="Field14"
class="field textarea medium"
spellcheck="true"
rows="10" cols="50"

tabindex="0"
onkeyup=""
placeholder=""
       ></textarea>

</div>
</li>
<li id="foli15"
class="notranslate      "><label class="desc" id="title15" for="Field15">
Do you have any ideas for specific images or a specific style?
</label>

<div>
<textarea id="Field15"
name="Field15"
class="field textarea medium"
spellcheck="true"
rows="10" cols="50"

tabindex="0"
onkeyup=""
placeholder=""
       ></textarea>

</div>

<p class="instruct" id="instruct15">
<small>Please be detailed as possible.</small>
</p></li> <li class="buttons ">
<div>
    
                        <input id="saveForm" name="saveForm" class="btTxt submit"
    type="submit" value="Submit"
 />    
</div>
</li>

<li class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="MaY10wR2AQymxg+wsu8t9pgNMxGHLc+Px4aOhq9Kp0w=" />
<input type="hidden" id="encryptedPassword" name="encryptedPassword" value="" />
</li>
</ul>
</form>
 

</div><!--container-->

            </div>
        </div>
        <!--.blog_post_page -->
    </div>
</div>
</div><!-- .contentarea -->
</div>
</div>
<div class="clear"></div>
</div><!-- .fl-container -->
<div class="clear"></div>
</div>
</div><!-- .container -->
</div><!-- .content_wrapper -->
<div class="content_bg"></div>
<script type="text/javascript" src="{{ "/js/jquery-ui.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/modules.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>
<script>
jQuery(document).ready(function($){
    "use strict";
    if (jQuery('.fl-container').size() > 0) {
        jQuery('.fw_post_info').click(function(){
            jQuery('html, body').stop().animate({
                scrollTop: jQuery(jQuery('.content_wrapper')).offset().top-10
            }, 500);
        });
    } else {
        jQuery('.fw_post_info').hide();
    }

    jQuery('#ribbon_swipe').on("swipeleft",function(){
        next_slide();
    });
    jQuery('#ribbon_swipe').on("swiperight",function(){
        prev_slide();
    });
    jQuery('.ltl_prev').click(function(){
        prev_slide();
    });
    jQuery('.ltl_next').click(function(){
        next_slide();
    });
    jQuery('.slide1').addClass('currentStep');
    ribbon_setup();

    jQuery('.commentlist').find('li').each(function(){
        if (jQuery(this).find('ul').size() > 0) {
            jQuery(this).addClass('has_ul');
        }
    });
    jQuery('.form-allowed-tags').width(jQuery('#commentform').width() - jQuery('.form-submit').width() - 13);
});
jQuery(window).resize(function($){
    "use strict";
    ribbon_setup();
    jQuery('.form-allowed-tags').width(jQuery('#commentform').width() - jQuery('.form-submit').width() - 13);
});
jQuery(window).load(function($){
    "use strict";
    ribbon_setup();
});

function ribbon_setup() {
    "use strict";
    var setHeight = window_h - header.height() - 20;
    var setHeight2 = window_h - header.height() - jQuery('.slider_info').height() - 20;
    jQuery('.fs_grid_gallery').height(window_h - header.height()-1);
    jQuery('.currentStep').removeClass('currentStep');
    jQuery('.slide1').addClass('currentStep');
    jQuery('.num_current').text('1');

    jQuery('.num_all').text(jQuery('.fw_gallery_list li').size());
    jQuery('.ribbon_wrapper').height(setHeight2);
    jQuery('.fw_gallery_list').height(setHeight2);
    var max_step = -1*(jQuery('.ribbon_list').width()-window_w);
}

function prev_slide() {
    "use strict";
    var current_slide = parseInt(jQuery('.currentStep').attr('data-count'));
    current_slide--;
    if (current_slide < 1) {
        current_slide = jQuery('.fw_gallery_list').find('li').size();
    }
    jQuery('.currentStep').removeClass('currentStep');
    jQuery('.num_current').text(current_slide);
    jQuery('.slide'+current_slide).addClass('currentStep');
}
function next_slide() {
    "use strict";
    var current_slide = parseInt(jQuery('.currentStep').attr('data-count'));
    current_slide++;
    if (current_slide > jQuery('.fw_gallery_list').find('li').size()) {
        current_slide = 1
    }
    jQuery('.currentStep').removeClass('currentStep');
    jQuery('.num_current').text(current_slide);
    jQuery('.slide'+current_slide).addClass('currentStep');
}
</script>
