---
layout: defaultwithfooter
---
<div class="main_wrapper">
    <div class="content_wrapper">
        <div class="container">
            <div class="content_block row no-sidebar">
                <div class="fl-container ">
                    <div class="row">
                        <div class="posts-block ">
                            <div class="page_title_block">
                                <h1 class="title">{{ page.title }}</h1>
                            </div>
                            <div class="contentarea">
                                <div class="row">
                                    <div class="span12 first-module module_number_1 module_cont pb40 module_text_area">
                                        <div class="module_content">
                                            {{ content }}
                                        </div>
                                    </div><!-- .module_cont -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- .main_wrapper -->

<div class="content_bg"></div>
<script type="text/javascript" src="{{ "/js/jquery-ui.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/modules.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>
