---
layout: defaultwithfooter
---
<div class="fullscreen_block hided">
    <ul class="optionset" data-option-key="filter">
        <li class="selected"><a href="#filter" data-option-value="*">All Works</a></li>
        <li><a data-option-value=".events" href="#filter" title="View all post filed under events">Events</a></li>
        <li><a data-option-value=".family" href="#filter" title="View all post filed under family">Family</a></li>
        <li><a data-option-value=".seniors" href="#filter" title="View all post filed under seniors">Seniors</a></li>
        <li><a data-option-value=".toddlers" href="#filter" title="View all post filed under toddlers">Toddlers</a></li>
        <li><a data-option-value=".headshots" href="#filter" title="View all post filed under headshots">Headshots by Kimberly</a></li>
    </ul>
    <div class="fs_blog_module image-grid">
        <div class="blogpost_preview_fw element {{ page.category1 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom1 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb1 }}" alt="{{ page.alt1 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category2 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom2 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb2 }}" alt="{{ page.alt2 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category3 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom3 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb3 }}" alt="{{ page.alt3 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category4 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom4 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb4 }}" alt="{{ page.alt4 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category5 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom5 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb5 }}" alt="{{ page.alt5 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category6 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom6 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb6 }}" alt="{{ page.alt6 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category7 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom7 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb7 }}" alt="{{ page.alt7 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category8 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom8 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb8 }}" alt="{{ page.alt8 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category9 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom9 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb9 }}" alt="{{ page.alt9 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category10 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom10 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb10 }}" alt="{{ page.alt10 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category11 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom11 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb11 }}" alt="{{ page.alt11 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category12 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom12 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb12 }}" alt="{{ page.alt12 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category13 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom13 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb13 }}" alt="{{ page.alt13 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category14 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom14 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb14 }}" alt="{{ page.alt14 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category15 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom15 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb15 }}" alt="{{ page.alt15 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category16 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom16 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb16 }}" alt="{{ page.alt16 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category17 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom17 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb17 }}" alt="{{ page.alt17 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category18 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom18 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb18 }}" alt="{{ page.alt18 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category19 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom19 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb19 }}" alt="{{ page.alt19 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category20 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom20 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb20 }}" alt="{{ page.alt20 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category21 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom21 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb21 }}" alt="{{ page.alt21 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category22 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom22 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb22 }}" alt="{{ page.alt22 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category23 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom23 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb23 }}" alt="{{ page.alt23 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category24 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom24 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb24 }}" alt="{{ page.alt24 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category25 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom25 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb25 }}" alt="{{ page.alt25 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category26 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom26 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb26 }}" alt="{{ page.alt26 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category27 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom27 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb27 }}" alt="{{ page.alt27 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category28 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom28 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb28 }}" alt="{{ page.alt28 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category29 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom29 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb29 }}" alt="{{ page.alt29 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category30 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom30 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb30 }}" alt="{{ page.alt30 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category31 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom31 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb31 }}" alt="{{ page.alt31 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category32 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom32 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb32 }}" alt="{{ page.alt32 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category33 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom33 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb33 }}" alt="{{ page.alt33 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category34 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom34 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb34 }}" alt="{{ page.alt34 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category35 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom35 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb35 }}" alt="{{ page.alt35 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category36 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom36 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb36 }}" alt="{{ page.alt36 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category37 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom37 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb37 }}" alt="{{ page.alt37 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category38 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom38 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb38 }}" alt="{{ page.alt38 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category39 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom39 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb39 }}" alt="{{ page.alt39 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogpost_preview_fw element {{ page.category40 }}">
            <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href="{{ page.zoom40 }}" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
                        <img src="{{ page.thumb40 }}" alt="{{ page.alt40 }}" class="fw_featured_image" width="540">
                        <div class="gallery_fadder"></div>
                        <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="preloader"></div>

<div class="content_bg"></div>
<script type="text/javascript" src="{{ "/js/jquery-ui.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/modules.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/sorting.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
    "use strict";
    setTimeout(function(){
        jQuery('.fullscreen_block').removeClass('hided');
    },2500);
    setTimeout("jQuery('.preloader').remove()", 2700);
});
</script>
